//- GARETH DSOUZA
  CSE 6331 001 Spring 2018
  Assignment 2
extends layout

block content
  h1= title
  form(action="create-edit" method="post" enctype="multipart/form-data")
    input(type="file" name="filetoupload" class="btn btn-light" required)
    br
    br
    input(type="text" name="title", placeholder="Enter title here" size="68" required)
    br
    br
    input(type="submit" value="Add new Photo" class="btn btn-light")
  script.
    if(localStorage.getItem("username") === null){
        window.location.href=window.location.origin;
    }