//- GARETH DSOUZA
  CSE 6331 001 Spring 2018
  Assignment 2
extends layout

block content
  div(class="navbar navbar-expand-lg navbar-light bg-light")
    h3 The Best Picture Uploading Website Ever!
  br
  div(class="input-group")
    input(class="form-control" type="text" name="username" id="username" placeholder="Please enter your username to continue" size=20)
    span(class="input-group-btn")
      input(class="btn btn-primary" type="button" onclick="go()" value="Login") 
  
  
  script.
    localStorage.clear();
    function go(){
      if (typeof(Storage) !== "undefined") {
        localStorage.username = document.getElementById('username').value.toLowerCase();
        location.href=window.location.href+document.getElementById('username').value.toLowerCase()+"/posts";
      } else {
        alert('Sorry! No Web Storage support...')
      }
      
    }
