//- GARETH DSOUZA
  CSE 6331 001 Spring 2018
  Assignment 2
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
  body(class="container")
    block content
