//- GARETH DSOUZA
  CSE 6331 001 Spring 2018
  Assignment 2
extends layout

block content
  nav(class="navbar navbar-light bg-light justify-content-between") 
    input(class="btn btn-link" type="button" onclick="go('new')" value="Add new photo") 
    input(class="btn btn-link" type="button" onclick="go('logout')" value="Logout") 
  br
  p(class="lead") Picture Viewing For #{loggedInUser.charAt(0).toUpperCase() + loggedInUser.slice(1)}
  -var monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
  each post in posts
      div(class="row")
        div(class="col-sm-6")
          img(class="img-thumbnail" src=""+post.path height="200" width="200")
          br
          p(class="lead") Title #{post.title}
          p Uploaded By #{post.username.charAt(0).toUpperCase() + post.username.slice(1)}
          p Last Updated On #{new Date(post.updatedAt).getDate()} #{monthNames[new Date(post.updatedAt).getMonth()]} #{new Date(post.updatedAt).getYear()+1900} at #{new Date(post.updatedAt).getHours()}:#{new Date(post.updatedAt).getMinutes()}
          p #{post.rating === 0 ? "Not enough ratings! Please rate it?": "Rating is: " +post.rating}
          -if(!(post.ratedBy.indexOf(loggedInUser) > -1))
            p Rate it? &nbsp;
              select(id="selectOf"+post.id class="custom-select" style="width:60px")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5  
              button(class="btn btn-light" onclick="rateNow("+post.id+")" style="margin-right:20px") Rate Now.
           
  script.
    if(localStorage.getItem("username") === null){
        location.href=window.location.origin;
    }
    function go(whereToGo){
      if(whereToGo === 'myposts'){
        location.href=window.location.origin+"/"+localStorage.getItem("username")+"/my-posts";
      }
      if(whereToGo === 'new'){
        location.href=window.location.origin+"/"+localStorage.getItem("username")+"/create";
      }
      if(whereToGo === 'logout'){
          location.href=window.location.origin;
      }
      
    }

    function rateNow(pictureId){
      console.log(pictureId);
      var select = document.getElementById("selectOf"+pictureId);
      fetch(window.location.origin+"/"+localStorage.getItem("username")+"/ratings/"+pictureId+"?rating="+select.options[select.selectedIndex].value)
      .then(_ => window.location.reload(false))
      .catch(_ => alert('An error occured while rating the photo'))
    }

     